@media (min-width: 1750px)
{
  .imagen_inicio
  {
    width: 350px;
    height: 350px;
  }
  
  .contenedor
  {
    width: 600px;
  }

  .album
  {
    width: 500px;
    height: 500px;
  }

  .album img {
    border-radius: 10px 10px 0 0;
    width: 500px;
    height: 375px;
    object-fit: cover;
  }

  .paquete_fotografico {
    width: 600px;
  }
}


@media (max-width: 991px) {
  /* Menu de navegacion */

  .navbar {
    font-size: 20px !important;
  }

  .navbar-brand,
  .nav-link {
    letter-spacing: 1px;
  }

  .dropdown-menu {
    padding: 0;
    padding-left: 25px;
  }

  .dropdown-item {
    padding: 0;
  }

  .nombre {
    height: 75px;
    width: 100px;
    margin-right: 5px;
  }

  /*Página principal*/

  h2 {
    margin: 10px 40px;
  }

  .eslogan {
    font-size: 22px;
    margin: 10px auto;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    font-family: "Regular";
    display: block;
    width: 80vw;
  }

  .concepto {
    margin: 10px 50px;
  }

  .introduccion {
    margin: 10px 40px;
  }

  /*Sobre Nosotros*/

  .contenedor {
    width: 350px;
  }

  .contenedorgrande {
    width: 85vw;
  }

  .imagen_valores {
    width: 100px;
    height: 100px;
    margin: 20px;
  }

  .mascota {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
  }

  .ubicacion {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
  }

  /*Servicios*/

  .album {
    width: 300px;
    height: 300px;
  }

  .album img {
    width: 300px;
    height: 225px;
  }

  .texto_album {
    margin: 5px;
  }

  .enlace_album {
    margin: 5px auto;
  }

  /*Página Paquetes*/

  .paquete_fotografico {
    width: 350px;
  }
  
  /*Formulario Iniciar Sesión*/

  .formularios {
    width: 80vw;
  }

  .formulario {
    border-radius: 10px 10px 10px 10px;
    width: 80vw;
  }

  .imagenformulario img {
    display: none;
  }

  input {
    height: 35px;
  }

  .password-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    margin: 10px 0;
  }

  .password-input input {
    width: calc(100% - 45px);
  }

  .password-input img {
    width: 35px;
    margin: 5px;
  }

  .boton_formulario {
    margin-top: 20px;
    width: 60%;
  }

  @media only screen and (max-width: 550px) {

    /*Página Principal*/
    .imagen_inicio {
      width: 250px;
      height: 250px;
    }

    .mascota {
      width: 250px;
      height: 250px;
    }

    .ubicacion {
      width: 250px;
      height: 250px;
    }

    /*Formulario Iniciar Sesión*/

    .formularios {
      width: 90vw;
    }

    .formulario {
      width: 80vw;
    }
  }
}