* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: sans-serif;
  }

  body {
    height: 100%;
    overflow-x: hidden;
    width: 100vw;
    background: #FFF;
  }
  
  .navbar {
    background-color: #2A2B26;
    font-size: 21px !important;
  }
  
  .navbar-brand,
  .nav-link {
    color: #FFF !important;
    font-weight: bold;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand {
    align-items: center;
  }

  .nombre {
    height: 75px;
    width: 100px;
  }
  
  .enlace:hover {
    color: orange !important;
  }
  
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .social-icons {
    display: flex;
    width: auto;
  }
  
  .social-icons img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .siguenos {
    color: #FFF;
    font-weight: bold;
  }

  /*Página principal*/

  .introduccion {
    font-size: 17px;
    margin: 10px 100px;
    text-align: justify;
    color: #000;
  }

  main {
    margin-top: 30px;
    margin-bottom: 100px;
  }

  /*Sobre Nosotros*/

.concepto {
  margin: 10px 100px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.contactanos {
  margin: auto;
  text-align: center;
}

/* Sección de contactos */

.contactos {
  margin: 20px;
  margin-bottom: 75px;
}

.p_contactanos {
  text-align: center;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
}

.redes {
  display: flex;
  justify-content: space-evenly;
}

.imagen {
  display: flex;
  text-decoration: none;
  color: #000;
  align-items: center;
}

.imagen img {
  display: flex;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  margin-right: 10px;
}

/*Formularios Iniciar Sesión*/

.formularios {
  align-items: stretch;
  display: flex;
  justify-content: center;
  width: 70vw;
  margin: 20px auto;
  margin-bottom: 75px;
}

.imagenformulario img {
  width: 20vw;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.formulario {
  background: #FFF;
  padding: 20px;
  border-radius: 0 10px 10px 0;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50vw;
}

.boton_formulario {
  display: block;
  margin: 10px auto;
  width: 50%;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 10px;
  color: #FFF;
  border: none;
  background-color: #28a745;
}

fieldset {
  border: none;
}

legend {
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

label {
  padding: 0 10px;
  font-size: 17px;
}

input {
  width: 100%;
  height: 40px;
  margin: 10px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 17px;
  border: 1px solid #CCC;
  border-radius: 10px;
}

.p_formulario_iniciar_sesion {
  margin: 10px;
  text-align: center;
  font-size: 17px;
}

.link_formulario_iniciar_sesion {
  margin: 10px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #48e;
  font-weight: bold;
}

.password-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 10px 0;
}

.password-input input {
  width: calc(100% - 60px);
  height: 40px;
  box-sizing: border-box;
}

.password-input img {
  width: 40px;
  margin: 10px;
}

  /*Footer*/

footer {
  background-color: #2A2B26;
  color: #FFF;
  text-align: center;
  padding: 20px;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  font-size: 17px;
}