* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: sans-serif;
}

@font-face {
  font-family: "Regular";
  src: url(./Letra.ttf) format("truetype");
}

body {
  height: 100%;
  overflow-x: hidden;
  width: 100vw;
  background: #FFF;
}

.navbar {
  background-color: #123060;
  font-size: 21px !important;
}

.navbar-brand,
.nav-link {
  color: #FFF !important;
  font-family: "Regular";
  margin: 0 10px;
  padding: 0;
}

.dropdown-item, 
.desplegable { 
  font-family: "Regular";
  color: #FFF;
  background: #48E;
  font-size: 21px;
}

.dropdown-menu {
  background: #48E;
}

.dropdown-item:hover,
.desplegable:hover {
  background: #48E;
  color: #FFF;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 25px !important;
}

.navbar-brand {
  align-items: center;
}

.nombre {
  height: 75px;
  width: 100px;
}

.enlace:hover {
  color: orange !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*Página principal*/

.portada {
  display: block;
  margin: auto;
  width: 80vw;
  height: 300px;
  object-fit: cover;
  border-radius: 10px
}

.eslogan {
  font-size: 22px;
  margin: 10px 100px;
  text-align: center;
  color: #FFF;
  background-color: #48E;
  border-radius: 10px;
  padding: 5px;
  font-family: "Regular";
}

.imagenes_inicio {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen_inicio {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #AAA;
  margin: 20px
}

h1 {
  font-family: "Regular";
  text-align: center;
}

h2 {
  margin: 20px 100px;
  text-align: justify;
  color: #000;
  font-family: "Regular";
}

h3 {
  margin: 20px 100px;
  text-align: justify;
  color: #000;
  font-family: "Regular";
}

.introduccion {
  font-size: 17px;
  margin: 10px 100px;
  text-align: justify;
  color: #000;
}

main {
  margin: 20px
}

/*Sobre Nosotros*/

.sobre_nosotros {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

.contenedor {
  margin: 20px;
  width: 500px;
  box-shadow: 5px 5px 5px 5px #AAA;
  border-radius: 10px;
}

.contenedorgrande {
  margin: 20px;
  width: 80vw;
  box-shadow: 5px 5px 5px 5px #AAA;
  border-radius: 10px;
}

.imagenes_valores {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen_valores {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #AAA;
}

.concepto_sobre_nosotros {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #48E;
  font-style: italic;
}

.introduccion_sobre_nosotros {
  font-size: 17px;
  margin: 20px;
  text-align: justify;
  color: #000;
}

.mascota {
  display: block;
  margin: 10px auto;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #AAA;
}

.ubicacion {
  display: block;
  margin: 10px auto;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #AAA;
}

/*Página Servicios*/

.contenedor_albumnes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.album {
  margin: 20px;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #AAA;
  background: #DDD;
}

.album img {
  border-radius: 10px 10px 0 0;
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.texto_album {
  text-align: center;
  margin: 10px;
}

.enlace_album {
  display: block;
  text-align: center;
  margin: 10px auto;
  color: #FFF;
  background: #48E;
  border-radius: 10px;
  width: 50%;
  padding: 5px;
  font-weight: bold;
}

.enlace_album:hover {
  color: #FFF;
  text-decoration: none;
}

/*Formularios Iniciar Sesión*/

.introduccion_formulario {
  font-size: 17px;
  margin: 10px 20px;
  text-align: center;
  color: #000;
}

.formularios {
  align-items: stretch;
  display: flex;
  justify-content: center;
  width: 70vw;
  margin: 20px auto;
  margin-bottom: 75px;
}

.imagenformulario img {
  width: 20vw;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.formulario {
  background: #FFF;
  padding: 20px;
  border-radius: 0 10px 10px 0;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50vw;
  box-shadow: 5px 5px 5px 5px #AAA;
}

.boton_formulario {
  display: block;
  margin: 10px auto;
  width: 50%;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 10px;
  color: #FFF;
  border: none;
  background-color: #28a745;
}

fieldset {
  border: none;
}

legend {
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #171718;
  font-family: "Regular";
}

label {
  padding: 0 10px;
  font-size: 17px;
}

input {
  width: 100%;
  height: 40px;
  margin: 10px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 17px;
  border: 1px solid #666;
  border-radius: 10px;
}

.p_formulario_iniciar_sesion {
  margin: 10px;
  text-align: center;
  font-size: 17px;
}

.link_formulario_iniciar_sesion {
  margin: 10px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #8B0000;
  font-weight: bold;
}

.password-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 10px 0;
}

.password-input input {
  width: calc(100% - 60px);
  height: 40px;
  box-sizing: border-box;
}

.password-input img {
  width: 40px;
  margin: 10px;
}

/* Sección de contactos */

.contactos {
  margin: 20px;
}

.p_contactanos {
  text-align: center;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
}

.redes {
  display: flex;
  justify-content: space-evenly;
}


.imagen {
  display: flex;
  text-decoration: none;
  color: #fff;
  align-items: center;
}

.imagen img {
  display: flex;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  margin-right: 10px;
}

.imagen:hover {
  color: orange !important;
  text-decoration: none !important;
}

/*Footer*/

footer {
  background-color: #1f2124;
  color: #FFF;
  text-align: center;
  padding: 20px;
  width: 100vw;
  box-sizing: border-box;
  font-size: 17px;
}