@media (max-width: 1000px) {
    /* Menu de navegacion */

  .navbar {
    font-size: 20px !important;
  }

  .navbar-brand,
  .nav-link {
    letter-spacing: 1px;
  }

  .nombre {
    height: 75px;
    width: 100px;
    margin-right: 5px;
  }

  .siguenos {
    margin-right: 5px;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  /*Página principal*/

  main {
    margin-bottom: 150px;
  }

  .concepto {
    margin: 10px 50px;
  }

  .introduccion {
    margin: 10px 50px;
  }

   /* Sección contactanos */

  .redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
  }

  .imagen {
    display: flex;
    text-decoration: none;
    color: #000;
    align-items: center;
    width: 200px;
    margin-bottom: 10px;
  }

  .imagen img {
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-right: 10px;
  }

}