@media (max-width: 991px) {
    /* Menu de navegacion */

  .navbar {
    font-size: 20px !important;
  }

  .navbar-brand,
  .nav-link {
    letter-spacing: 1px;
  }

  .nombre {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 5px;
  }

  .siguenos {
    margin-right: 5px;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

}
