@media (max-width: 991px) {
  /* Menu de navegacion */

  .navbar {
    font-size: 20px !important;
    padding: 20px;
  }

  .navbar-brand,
  .nav-link {
    letter-spacing: 1px;
  }

  .nombre {
    height: 75px;
    width: 100px;
    margin-right: 5px;
  }

  /*Página principal*/

  h2 {
    margin: 10px 40px;
  }

  .eslogan {
    font-size: 22px;
    margin: 10px auto;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    font-family: "Regular";
    display: block;
    width: 80vw;
  }

  .concepto {
    margin: 10px 50px;
  }

  .introduccion {
    margin: 10px 40px;
  }

  /*Sobre Nosotros*/

  .contenedor {
    width: 350px;
  }

  .contenedorgrande {
    width: 85vw;
  }

  .imagen_valores {
    width: 100px;
    height: 100px;
    margin: 20px;
  }

  .mascota {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
  }

  .ubicacion {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
  }

  /*Servicios*/

  .album {
    width: 300px;
    height: 300px;
  }

  .album img {
    width: 300px;
    height: 225px;
  }

  .texto_album {
    margin: 5px;
  }
  
  .enlace_album {
    margin: 5px auto;
  }

  /* Sección contactanos */

  .redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
  }

  .imagen {
    display: flex;
    text-decoration: none;
    color: #FFF;
    align-items: center;
    width: 200px;
    margin-bottom: 10px;
  }

  .imagen img {
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-right: 10px;
  }

  /*Formulario Iniciar Sesión*/

  .formularios {
    width: 80vw;
  }

  .formulario {
    border-radius: 10px 10px 10px 10px;
    width: 80vw;
  }

  .imagenformulario img {
    display: none;
  }

  input {
    height: 35px;
  }

  .password-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    margin: 10px 0;
  }

  .password-input input {
    width: calc(100% - 45px);
  }

  .password-input img {
    width: 35px;
    margin: 5px;
  }

  .boton_formulario {
    margin-top: 20px;
    width: 60%;
  }

  @media only screen and (max-width: 550px) {

    /*Página Principal*/
    .portada {
      width: 80vw;
    }

    .imagen_inicio {
      width: 250px;
      height: 250px;
    }

    .mascota {
      width: 250px;
      height: 250px;
    }

    .ubicacion {
      width: 250px;
      height: 250px;
    }

    /*Formulario Iniciar Sesión*/

    .formularios {
      width: 90vw;
    }

    .formulario {
      width: 80vw;
    }
  }
}